@use "../../../scss/globals.scss";

.details-tab {
  display: flex;
  flex-direction: column;
  gap: calc(globals.$spacing-unit * 1.5);
  padding: calc(globals.$spacing-unit * 1.5);
  min-width: 0;
  width: 100%;
}
